{% extends 'store/main.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <script src="https://kit.fontawesome.com/c26cd2166c.js"></script>
    <title>About Us</title>
</head>
<body>
    {% block content %} 
    <div class=row>
    <section class="about py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 m-auto text-center">
                    <img src="/images/anh1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7">
                    <h1>About us</h1>
                    <h6 style="color:red">Put customer service first</h6>
                    <p>As an online sales website, we serve the needs of online shopping... Whenever customers have a need to shop for genuine cheap and beautiful online electronics, ECom is a great choice for customers. customers every day.
                        Shopping for electronics is an essential need for everyone. Understanding this, ECom has brought you many of the hottest electronics from all brands at home and abroad. We will make you satisfied with your choice with the best price and perfect service quality. Buying online has never been so easy with ECom.
                        Diverse models, types and prices, you will have many options that are best for you. We deliver to your home in Ho Chi Minh City - HCM, Hanoi - HN and all provinces across the country. Payment on receipt, 7 days return if not satisfied with the product.</p>
                </div>
            </div>
        </div>
      </section>
    </div>
      <section class="about py-5">
        <div class="container py-5">
            <div class="row">           
                <div class="col-lg-7">
                    <h1>About us</h1>
                    <h6 style="color:red">Bring high quality products with best price to customers</h6>
                    <p>With the desire that customers can buy and use genuine products, with the most reasonable price, with perfect attentive service, we build this commercial website to minimize costs, reduce product costs, meet the needs of customers. Best price, product and service for you.
                        “Customer satisfaction is our pleasure”</p>
                </div>
                <div class="col-lg-5 m-auto text-center">
                  <img src="/images/anh3.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
      </section>
      
      <section class="news py-5">
          <div class="container py-5">
              <div class="row ">
                    <div class="col-lg-9 m-auto text-center">
                        <h1 style="color:white;"> Follow us </h1>
                    </div>
              </div>
              <div class="row pt-5">
                  <div class="col-lg-11 m-auto">
                      <div class="row">
                          <div class="col-lg-3 py-3">
                              <h5 class="pb-3" style="color:white;">LOCATION</h5>
                              <p> Km10 Nguyễn Trãi, Thanh Xuân, Hà Nội</p>                    
                          </div>
                          <div class="col-lg-3 py-3">
                            <h5 class="pb-3" style="color: white;" >PHONE</h5>
                            <p>000-11-2222</p>                      
                          </div>
                          <div class="col-lg-3 py-3">
                            <h5 class="pb-3" style="color: white;" >EMAIL</h5>
                            <p>Ecomshop123@gmail.com</p>                    
                          </div>
                          <div class="col-lg-3 py-3">
                            <h5 class="pb-3" style="color: white;" >CUSTOMER CARE</h5>
                            <a href="https://www.facebook.com/search/top?q=%F0%9D%91%AD%F0%9D%92%82%F0%9D%92%8D%F0%9D%92%8D%20%F0%9D%91%B0%F0%9D%92%8F%20%F0%9D%91%B3%F0%9D%92%96%F0%9D%92%97"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/fallinluv.music/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.youtube.com/c/FallInLuvMusic"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.google.com.vn/?hl=vi"><i class="fab fa-google-plus"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </section>
      
      
      
    {% endblock content %}
      
</body>
</html>


